body {
  font-family: Arial, sans-serif;
  line-height: 1.6;
  margin: 0;
  padding: 0;
  background-color: #5af2fd;
}

header {
  background: #35424a;
  color: #ffffff;
  padding: 20px 0;
  text-align: center;
}

header h1 {
  margin: 0;
}

main {
  padding: 20px;
  max-width: 800px;
  margin: auto;
}

h2 {
  color: #35424a;
}

ul {
  list-style-type: none;
  padding: 0;
}

ul li {
  background: #e4e4e4;
  margin: 5px 0;
  padding: 10px;
  border-radius: 5px;
  transition: background 0.3s, transform 0.3s;
}

ul li:hover {
  background: #ccc;
  transform: scale(1.05);
}

footer {
  background: #35424a;
  color: #ffffff;
  text-align: center;
  padding: 10px 0;
  position: fixed;
  width: 100%;
  bottom: 0;
  box-shadow: 0 -2px 5px rgba(0, 0, 0, 0.3);
}
